<%= render 'form', quaderni: @quaderni %>

<div class="clear-fix"><br></div>

<div class="row">
  <div class="col-md-6 d-flex justify-content-center">
    <%= link_to 'Back', quadernis_path, class:"btn btn-outline-secondary" %>
  </div>
  <div class="col-md-6 d-flex justify-content-center">
    <%= link_to 'View', @quaderni, class:"btn btn-outline-primary" %>
  </div>
</div>
