<%= render 'users/form'%>
<br>
<div class="text-center">
	<%= link_to '<i class="fas fa-arrow-left"></i> Back to profile'.html_safe, user_path(@user), class: 'btn btn-outline-secondary btn-sm'  %>
</div>
