<%= render 'users/form'%>
<br>
<div class="text-center">
	<%= link_to '<i class="fas fa-arrow-left"></i> Back to All Users'.html_safe, users_path, class: 'btn btn-outline-secondary btn-sm'  %>
</div>
