<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-header bg-card-head text-white">Contact Details</div>
      <div class="card-body">
        <h5 class="text-center">Head office</h5>
        <p>Birchin Court – Suite 603, <br>
        20 Birchin Lane, <br>
        City Of London, <br>
        London, EC3V 9DU, <br>
        United Kingdom <br>
        <strong>Tel:</strong>  0044 203 751 9360 <br>
        <strong>Fax:</strong> 0044 207 681 2206 <br>
        <strong>Email:</strong> <%= mail_to "info@ascheri.academy",
        "info@ascheri.academy", subject: "Contatti Ascheri Academy" %></p><br>
          <iframe class="embed-responsive" style="border: 0;"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.0225156727874!2d-0.08844748397127727!3d51.51280291812872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487603530c255555%3A0x85870baf9f782d1c!2sAscheri+Academy!5e0!3m2!1sen!2suk!4v1541408548852"
          width="400" height="300" frameborder="0" allowfullscreen="allowfullscreen">
          </iframe>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-header bg-card-head text-white">Dettagli del contatto</div>
      <div class="card-body">
        <h5 class="text-center">Sede</h5>
        <p> Reggio Emilia, <br>
            Via Beniamino Disraeli, 2, <br>
            42124, <br>
            Italia <br> <br>
            <strong>Tel:</strong>  0039 0522.169.3405 <br> <br>
            <strong>Email:</strong> <%= mail_to "info@ascheri.academy",
            "info@ascheri.academy", subject: "Contatti Ascheri Academy" %></p><br>
            <iframe class="embed-responsive" style="border: 0;"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2835.1044942150193!2d10.576627251046064!3d44.71747887899655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47801bc1a71a7251%3A0xb342b0fb2c58aded!2sVia+Beniamino+Disraeli%2C+2%2C+42124+Reggio+nell'Emilia+RE%2C+Italy!5e0!3m2!1sen!2suk!4v1541517034881" width="400" height="300" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        </div>
    </div>
  </div>
</div>
