




  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="marketing">
    <!-- START THE FEATURETTES -->



    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Aggiorna le tue conoscenze <span class="text-muted"></span></h2>
        <p class="lead">Ascheri Academy organizza corsi di formazione professionale gratuiti in ambito legale e tributario. L’elenco degli eventi è in continuo aggiornamento, e la partecipazione a ciascun Webinar prevede il rilascio di un attestato di partecipazione.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Dialoga con i nostri esperti <span class="text-muted"></span></h2>
        <p class="lead">I corsi di formazione di Ascheri Academy sono organizzati da professionisti, per professionisti. Durante gli eventi è sempre possibile interagire direttamente con i relatori per porre domande o scambiare opinioni.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Continua ad imparare, ovunque tu sia <span class="text-muted"></span></h2>
        <p class="lead">Gli eventi di formazione professionale si svolgono completamente in formato Webinar. A seguito degli eventi, i partecipanti avranno accesso permanente alle risorse utilizzate e alla registrazione dell’evento</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
