




  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="marketing">
    <!-- START THE FEATURETTES -->



    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Aggiorna le tue conoscenze <span class="text-muted"></span></h2>
        <p class="lead">Ascheri Academy organizza corsi di formazione professionale gratuiti in ambito legale e tributario. L’elenco degli eventi è in continuo aggiornamento, e la partecipazione a ciascun Webinar prevede il rilascio di un attestato di partecipazione.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img" src="https://ascheri-academy.s3.eu-west-2.amazonaws.com/pic2.jpg" width="400px" height="400px" />
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Dialoga con i nostri esperti <span class="text-muted"></span></h2>
        <p class="lead">I corsi di formazione di Ascheri Academy sono organizzati da professionisti, per professionisti. Durante gli eventi è sempre possibile interagire direttamente con i relatori per porre domande o scambiare opinioni.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img" src="https://ascheri-academy.s3.eu-west-2.amazonaws.com/pic1.JPG" width="400px" height="400px" />
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Continua ad imparare, ovunque tu sia <span class="text-muted"></span></h2>
        <p class="lead">Gli eventi di formazione professionale si svolgono completamente in formato Webinar. A seguito degli eventi, i partecipanti avranno accesso permanente alle risorse utilizzate e alla registrazione dell’evento</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img" src="https://ascheri-academy.s3.eu-west-2.amazonaws.com/laptop.png" width="400px" height="400px" />
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
