/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require trix
 *= require_tree .
 *= require_self
 */
 body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }


  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;

  }
  .carousel-item > img {
    position: absolute;
    top: 0px;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }

  .carousel-caption{
    margin-bottom: 40px;

  }


  /* MARKETING CONTENT
  -------------------------------------------------- */

  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }


  /* Featurettes
  ------------------------- */

  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }

  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }


  /* RESPONSIVE CSS
  -------------------------------------------------- */

  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }

    .featurette-heading {
      font-size: 50px;
    }
  }

  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

  .bg-custom {
      background-color: #377 !important;
  }

  .navbar .nav-link {
      border: 1px solid #377;
      border-radius: 5px !important;
      margin-right: 10px;
      color: #ffffff !important;
 }
 .nav-item.active .nav-link{
    background-color: #365 !important;
 }

 html {
   position: relative;
   min-height: 100%;
 }
 body {

   overflow-x: hidden;
   margin-bottom: 100px; /* Margin bottom by footer height */
 }
 .footer{
   background-color: #377;
   position: absolute;
   bottom: 0 !important;
   width: 100%;
   height: 100px; /* Set the fixed height of the footer here */
   line-height: 30px; /* Vertically center the text there */
   color: white;

 }
 .footer a{
   color: white;
   text-decoration: none;
 }
 .btn-primary{
   background-color: #36a !important;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 .vertical{
   vertical-align: middle;
 }

 .main{
   margin-top: 60px;
 }
 .card {
   /* Add shadows to create the "card" effect */
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
 }

 /* On mouse-over, add a deeper shadow */
 .card:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }

 .page-title {
   width: 100%;
   height: 80px;
   background-image: url('https://ascheri-academy.s3.eu-west-2.amazonaws.com/site_bg.jpg');
   background-repeat: no-repeat;
   background-size:cover;
   color: white;
   margin-top:39px;
   line-height: 70px; /* Vertically center the text there */
   font-size: 2em;
 }

 .text-col{
   color: #6e162c !important;
   font-weight: bold;
   font-size: 0.85em;
 }

 .bg-card-h {
   background-color: #eee !important;
 }

 .bg-card-head{
   background-color: #377 !important;
 }

 .post-img {
   border: 1px solid lightgrey !important;
   border-radius: 5px;
   padding: 5px !important;
 }
