<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner " >
    <div class="carousel-item active">
      <img class="bd-placeholder-img" src="https://ascheri-academy.s3.eu-west-2.amazonaws.com/site_bg.jpg" width="100%" height="100%" />
      <div  class="container ">
        <div class="carousel-caption">
          <h1>Benvenuti ad Ascheri Academy </h1>
          <p>Il portale per la formazione professionale gratuita di avvocati, commercialisti e consulenti</p>
          <% if !current_user %>
          <p><%= link_to 'Iscriviti alla Ascheri Academy', root_path, class:"btn btn-lg btn-primary" %>
            <%= link_to 'Vai ai corsi', formazione_path, class:"btn btn-lg btn-primary" %></p>
          <% else %>
          <p><%= link_to 'Vai ai corsi', formazione_path, class:"btn btn-lg btn-primary" %></p>
          <% end %>
        </div>
      </div>
    </div>
 </div>
</div>
